<div class="row">
    <div class="col-md-12">
        <div class="portlet box grey" style="border:1px solid #E5E5E5;">
            <div class="portlet-title">
                <div class="caption">
                    @ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product Code</th>
                            <th>Product Name</th>
                            <th>Description</th>
                            <th>Brand</th>
                            <th>Category</th>
                            <th>Expiry Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.expiring)
                        {
                            <tr>
                                <td>@item.ProductCode</td>
                                <td>@item.ProductName</td>
                                <td>@item.Description</td>
                                <td>@item.CategoryName</td>
                                <td>@item.BrandName</td>
                                <td>@item.ExpiryDate.ToString("dd MMMM yyyy")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

