
<div class="row">
    <div class="col-md-12">
        <div class="portlet box grey" style="border:1px solid #E5E5E5;">
            <div class="portlet-title">
                <div class="caption">
                    @ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product Code</th>
                            <th>Product Name</th>
                            <th>Brand</th>
                            <th>Category</th>
                            <th>Order Price</th>
                            <th>Qty</th>
                            <th>Tax</th>
                            <th>Total</th>
                            <th>PO</th>
                            <th>Comment</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var opTotal = 0;
                            var tpTotal = 0;
                            var txTotal = 0;

                            foreach (var item in ViewBag.receivings)
                            {
                                opTotal += item.OrderPrice;
                                tpTotal += item.TotalPrice;
                                txTotal += item.Vat;

                                <tr>
                                    <td>@item.ProductCode</td>
                                    <td>@item.ProductName</td>
                                    <td>@item.BrandName</td>
                                    <td>@item.CategoryName</td>
                                    <td>@string.Format("{0:C}", item.OrderPrice).Trim('$')</td>
                                    <td>@item.Qty</td>
                                    <td>@string.Format("{0:C}", item.Vat).Trim('$')</td>
                                    <td>@string.Format("{0:C}", item.TotalPrice).Trim('$')</td>
                                    <td>@item.PurchasingOrder</td>
                                    <td>@item.Comment</td>
                                    <td>@item.ReceivingDate.ToString("dd MM yyyy")</td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4"></td>
                            <td>@string.Format("{0:C}", opTotal).Trim('$')</td>
                            <td></td>
                            <td>@string.Format("{0:C}", txTotal).Trim('$')</td>
                            <td>@string.Format("{0:C}", tpTotal).Trim('$')</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

